* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

main {
    width: 1920px;
    background-color: #F3F3F6;
}

header {
    background: url(../BG\ 1.png), radial-gradient(50% 50% at 50% 50%, #383B6C 0%, #202247 100%);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 1920px;
}

header hr {
    width: 600px;
    stroke-width: 1px;
    stroke: #FFF;
    margin-left: 915px;
    margin-top: -18px;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 172px;
    padding-top: 41px;
    padding-right: 165px;
}

.banner-img {
    margin-top: 76px;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 50px;
}

.banner-logo {
    display: flex;
    align-items: center;
}

.logo-banner {
    padding: 19px 12px;
    border-radius: 7px;
    background: #3BD770;
    color: #FFF;
}

.logo-title {
    color: #FFF;
    padding-left: 9px;
    font-size: 38px;
}

.menu-item li a {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.navbar-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 14px;
    gap: 45px;
}


/* hr {
    stroke: #FFF;
    width: 575px;
} */

.menu-item li a::after {
    content: " ";
    position: absolute;
    background-color: #3BD770;
    height: 3px;
    width: 90px;
    left: 915px;
    top: 105px;
}

.banner2 {
    display: flex;
    justify-content: space-between;
    padding-left: 172px;
    padding-top: 41px;
    padding-right: 165px;
}

.banner-title {
    margin-top: 100px;
    font-size: 46px;
    font-weight: 700;
    color: #FFF;
}

.banner-description {
    padding-top: 20px;
    font-size: 24px;
    font-weight: 700;
    color: #3BD770;
}

.banner-network {
    padding-top: 20px;
    font-size: 24px;
    font-weight: 600;
    color: #FFF;
}

.banner-join-ask {
    padding-top: 30px;
    font-size: 24px;
    font-weight: 600;
    color: #FFF;
}

.join-details {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 147px auto;
    grid-row-gap: 25px;
    grid-column-gap: 76px;
}

.join-item {
    display: flex;
    align-items: center;
    gap: 13px;
}

.ratio-item p {
    font-size: 24px;
    font-weight: 500;
    color: #FFF;
}

.rewards-info {
    padding-top: 74px;
    display: grid;
    grid-template-columns: 90px 140px auto;
    grid-column-gap: 40px;
    padding-bottom: 29px;
}

.rewards-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.refer-title {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
}

.banner-platform {
    display: flex;
    gap: 130px;
    align-items: center;
    background-color: #515151;
    height: 77px;
    padding-left: 208px;
    padding-right: 205px;
    margin-top: -5px;
}

.platform-description {
    font-size: 26px;
    font-weight: 500;
    color: #FFF;
}

.join {
    height: 210px;
    margin: 0 auto;
    position: relative;
    -webkit-perspective: 550px;
}

.button {
    -webkit-transform: rotateY(38deg) rotateZ(1deg);
    position: absolute;
    height: 85px;
    width: 280px;
    background: #3bd770;
    margin-left: 32px;
    margin-top: 29px;
}

.join span {
    position: relative;
    color: #fff;
    font-size: 30px;
    display: block;
    padding-top: 55px;
    padding-left: 55px;
    font-weight: 600;
}

.box6 {
    width: 105px;
    height: 15px;
    background: #515151;
    margin-left: 1410px;
    margin-top: -2px;
}

/* main section start */

.calculate-Potential-list {
    height: 586px;
    box-shadow: 0px 8px 24px 2px rgba(47, 43, 35, 0.08);
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 8px;
    border: 1px solid var(--nutral-200, #F5F3F0);
    background: var(--BG-Color, #FFFEFC);

}

.calculate-Potential-title {
    text-align: center;
    color: #282563;
    padding-top: 30px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 16px;
}

.input-list {
    color: #7A766C;
    font-size: 16px;
    font-weight: 500;
}

.input-type-item {
    height: 44px;
    width: 100%;
    margin-top: 12px;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid var(--inactive-stroke, #EBE8E4);
    margin-bottom: 10px;
}

.btn3 {
    margin-top: 20px;
    height: 40px;
    padding: 8px 16px;
    border-radius: 4px;
    background: #282563;
    font-size: 16px;
    color: #FFF;
    font-weight: 500;
    margin-left: 320px;
    border: none;
}

.calculate-Potential {
    display: grid;
    grid-template-columns: 501px 501px 501px;
    grid-column-gap: 42.4px;
}

.best-items {
    display: flex;
    gap: 67px;
    align-items: center;
}

.Best-Case-Scenario-title {
    text-align: center;
    color: #282563;
    padding-top: 30px;
    font-size: 20px;
    font-weight: 600;
}

.Best-Case-Scenario-description {
    padding-top: 15px;
    color: #333;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    height: 116.418px;
}

.Best-Case-Scenario {
    height: 586px;
    padding-left: 45.38px;
    padding-right: 42.4px;
    border-radius: 8px;
    background-color: #FFF;
    box-shadow: 0px 8px 24px 2px rgba(47, 43, 35, 0.08);

}


.container {
    width: 1920px;
    padding-top: 103px;
    padding-left: 165px;
    padding-right: 165px;
    background-color: #F3F3F6;
}

.container-title {
    color: #1D9E49;
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 60px;
    text-align: center;
}

.best-percent {
    padding-top: 20px;
    color: #333;
    font-size: 36px;
    font-weight: 600;
}

.best-percent1 {
    color: #333;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 22.14px;
}

hr {
    stroke: #333;
}

.item-values {
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 34px;
    background-color: #1D9E49;
    height: 165px;
    width: 501px;
    margin-left: -45px;
    border-radius: 0px 0px 8px 8px;
}

.item-value {
    padding-left: 50px;
    padding-right: 53px;
    padding-top: 31px;
}

.value {
    color: #FFF;
    font-size: 50px;
    font-weight: 600;

}

.value-type {
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
}

.item-values1 {
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 34px;
    background-color: #282563;
    height: 165px;
    width: 501px;
    margin-left: -45px;
    border-radius: 0px 0px 8px 8px;
}

/* banner section end */





/* AS-seen-on section start */
.as-seen-on {
    background-image: url(../As-on-image/Rectangle\ 5.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1590px;
    height: 500px;
}

.as-seen-on-title {
    text-align: center;
    padding-top: 110px;
    color: #1D9E49;
    font-size: 60px;
    font-weight: 600;
    padding-bottom: 45px;
}

.as-on-img-list {
    display: grid;
    grid-template-columns: 135px 159px 159px 73px 107px 151px 155px 119px;
    justify-content: center;
    grid-column-gap: 60px;
    align-items: center;
}

.as-seen-image1 {
    width: 135px;
    height: 48px;

}

.as-seen-image2 {
    width: 159px;
    width: 33px;
}

.as-seen-image3 {
    width: 159px;
    height: 43px;
}

.as-seen-image4 {
    width: 73px;
    height: 49px;
}

.as-seen-image5 {
    width: 107px;
    height: 49px;
}

.as-seen-image6 {
    height: 151px;
    width: 83px;
}

.as-seen-image7 {
    width: 155px;
    height: 11px;
}

.as-seen-image8 {
    width: 119px;
    height: 49px;
}

.logo-circle {
    padding-left: 1520px;
    padding-top: 55px;
}

.who-are-title {
    color: #1D9E49;
    font-size: 60px;
    font-weight: 600;
    padding-bottom: 19px;
}

.who-are-description {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 30px;
}

.who-are-img {
    width: 1590px;
}

.container hr {
    width: 411px;
    height: 1px;
    color: #333333;
    margin-top: -5px;

}

.box7 {
    width: 60px;
    height: 15px;
    background: #515151;
    margin-left: 1530px;
    margin-top: -2px;
}

.grid-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 94px;
    grid-row-gap: 40px;
    padding-top: 133px;
}

.achievement {
    display: flex;
    gap: 93px;
    align-items: center;
}

.Achievements-title {
    padding-top: 110px;
    color: #1D9E49;
    font-size: 60px;
    font-weight: 600;
    padding-bottom: 45px;
}

.join2 {
    height: 140px;
    margin: 0 auto;
    position: relative;
    perspective: 550px;
}

.button2 {
    transform: rotateY(38deg) rotateZ(1deg);
    position: absolute;
    height: 95px;
    width: 320px;
    background: #282563;
}

.join2 span {
    position: relative;
    color: #fff;
    display: block;
    text-align: center;
    padding-top: 30px;
    color: #FFF;
    font-size: 30px;
    font-weight: 600;
    margin-left: -90px;
}

.achievements-description {
    color: #000;
    font-size: 18px;
    font-weight: 500;
    width: 264px;
}

.percentage {
    padding-top: 15px;
    color: #000;
    font-size: 80px;
    font-weight: 700;
}

.service-list {
    display: flex;
    gap: 174px;
    align-items: center;
    background-color: #FFF;

}

.container2 {
    width: 1920px;
    padding-top: 70px;
    background-color: #F3F3F6;
}

.our-details {
    padding-left: 165PX;
    padding-top: 90px;
    padding-bottom: 23px;
    color: #333;
    font-size: 60px;
    font-weight: 600;
}

.join3 {
    height: 76px;
    margin: 0 auto;
    position: relative;
    -webkit-perspective: 550px;
    padding-left: 165px;
}

.button3 {
    -webkit-transform: rotateY(25deg) rotateZ(1deg);
    position: absolute;
    height: 70px;
    width: 220px;
    background: #282563;
}

.join3 span {
    position: relative;
    display: block;
    padding-left: 45px;
    padding-top: 15px;
    color: #FFF;
    font-size: 30px;
    font-weight: 600;
}

.service-details {
    padding-left: 165px;
    padding-top: 36px;
    color: #000;
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 54px;
    width: 400px;
}

.service-it hr {
    margin-left: 165px;
    width: 375px;
    height: 1px;
    color: #333333;
}

.box {
    margin-left: 165px;
    width: 61px;
    height: 17px;
    background-color: #333333;
    margin-top: -2px;
}

.Consulting {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.careers-info {
    padding-top: 59px;
    padding-bottom: 90px;
}

.careers-info hr {
    width: 1050px;
    height: 1px;
    color: #333333;

}

.Consulting-title {
    padding-top: 40px;
    color: #333;
    font-size: 30px;
    font-weight: 600;
}

.Consulting-description {
    padding-top: 10px;
    color: #333;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 40px;
}

.container3 {
    position: relative;
    height: 637px;
    width: 1920px;
}

.container3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 637px;
    background: rgba(95, 74, 43, 0.65);
    z-index: 1;
}

.container3::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 637px;
    background-image: url(../Img/front-view-people-having-meeting-office\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

.video-title {
    z-index: 2;
    position: relative;
    color: #FFF;
    text-align: center;
    padding-top: 116px;
    font-size: 60px;
    font-weight: 600;
    padding-bottom: 11px;
}

.video-description {
    z-index: 2;
    padding: 0px 80px;
    text-align: center;
    margin-left: 570px;
    position: relative;
    color: #FFF;
    width: 780px;
    font-size: 18px;
    font-weight: 500;
}

.container3 img {
    padding-top: 52px;
    z-index: 2;
    position: relative;
    margin: 0px 901px;
}

.video-watch {
    position: relative;
    z-index: 2;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    padding-top: 26px;
}


/* best grid problem in my life */

.Explore-info {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.details-explore {
    background-color: #FFF;
}

.Explore-title {
    padding-top: 58px;
    padding-left: 101px;
    color: #333;
    font-size: 60px;
    font-weight: 600;
}

.Explore-description {
    width: 1120px;
    padding-top: 2px;
    padding-left: 101px;
    color: #333;
    font-size: 18px;
    font-weight: 400;
}

.Explore-img img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 70px;
    margin-right: 105px;
}

.details-explore hr {
    margin: 30px 104px;
}

.box2 {
    margin-left: 104px;
    margin-top: -32px;
    width: 61px;
    height: 17px;
    background-color: #333333;
}

.best-grid {
    padding-left: 105px;
    padding-right: 105px;
    padding-top: 65px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 25px;
}

.Health-Care {
    background: #434AC9;
    grid-column: 1 / 3;
    height: 318px;
    width: 675px;
}

.Financial-Services {
    height: 318px;
    width: 330px;
    background: #434AC9;
}

.Manufacturing-Engineering {
    width: 330px;
    height: 661px;
    grid-column: 4;
    grid-row: 1 / 3;
    background: #434AC9;
}

.Retail {
    height: 318px;
    width: 330px;
    background: #434AC9;
}

.Scientific {
    height: 318px;
    width: 675px;
    grid-column: 2 / 4;
    background: #434AC9;
}

.Health-Care img {
    padding-top: 39px;
    padding-left: 30px;
    padding-bottom: 15px;
}

.Health-Car-title {
    padding-left: 30px;
    color: #FFF;
    font-size: 22px;
    font-weight: 600;
}

.Health-Car-description {
    width: 607px;
    height: 82px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    padding-left: 30px;
    padding-top: 12px;
}

.read-more {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    padding-left: 30px;
    padding-top: 18px;
}

.Financial-Services img {
    padding-top: 39px;
    padding-left: 38px;
    padding-bottom: 15px;
}

.Financial-Services-title {
    padding-left: 38px;
    color: #FFF;
    font-size: 22px;
    font-weight: 600;
}

.Financial-Services-description {
    width: 259px;
    height: 82px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    padding-left: 30px;
    padding-top: 12px;
    padding-bottom: 18px;
}

.Manufacturing-Engineering img {
    padding-top: 39px;
    padding-left: 32px;
    padding-bottom: 15px;
}

.Manufacturing-Engineering-title {
    padding-left: 32px;
    color: #FFF;
    font-size: 22px;
    font-weight: 600;
}

.Manufacturing-Engineering-description {
    width: 259px;
    height: 82px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    padding-left: 32px;
    padding-top: 12px;
    padding-bottom: 18px;
}

.engineering img {
    padding-top: 106px;
}

.engineering-title {
    padding-left: 32px;
    color: #FFF;
    font-size: 22px;
    font-weight: 600;
}

.engineering-description {
    width: 259px;
    height: 82px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    padding-left: 32px;
    padding-top: 12px;
    padding-bottom: 18px;
}

.Retail img {
    padding-top: 39px;
    padding-left: 30px;
    padding-bottom: 15px;
}

.Retail-title {
    padding-left: 30px;
    color: #FFF;
    font-size: 22px;
    font-weight: 600;
}

.Retail-description {
    width: 259px;
    height: 82px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    padding-left: 30px;
    padding-top: 12px;
    padding-bottom: 18px;
}

.Scientific img {
    padding-top: 37px;
    padding-left: 26px;
    padding-bottom: 15px;
}

.Scientific-title {
    padding-left: 26px;
    color: #FFF;
    font-size: 22px;
    font-weight: 600;
}

.Scientific-description {
    width: 607px;
    height: 82px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    padding-left: 26px;
    padding-top: 12px;
    padding-bottom: 18px;
}


.container4 {
    width: 1920px;
    margin-top: 96px;
    background-color: #000;
}

.client-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 165px;
}

.client-title {
    padding-top: 90px;
    width: 792px;
    color: #FFF;
    font-size: 60px;
    font-weight: 600;

}

.client-description {
    padding-top: 14px;
    width: 1052px;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 60px;
}

.customer-number {
    padding-top: 148px;
    padding-right: 401px;
    color: #1D9E49;
    font-size: 80px;
    font-weight: 700;

}

.global-customer {
    color: #FFF;
    font-size: 40px;
    font-weight: 600;
}

.container4 hr {
    width: 1590px;
    height: 1px;
    background: #FFF;
    margin-left: 165px;
}

.box3 {
    width: 57px;
    height: 14px;
    background: #FFF;
    margin-left: 165px;
    margin-bottom: 90px;
}

.circle-box {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 15px;
    margin-left: -52px;
    padding-bottom: 107px;

}

.box-10 {
    width: 240px;
    height: 240px;
    border-radius: 5px;
    background: #FFF;
}

.box-10:first-child {
    margin-left: 0;
}

.box-10:last-child {
    width: 188px;
}


/* community section update */


.community-img img {
    width: 600px;
    height: 578px;
    background: #D9D9D9;
}

.community-details {
    display: flex;
    gap: 75px;
    align-items: center;
}

.community {
    padding-bottom: 35px;
    color: #1D9E49;
    font-size: 60px;
    font-weight: 600;
}

.community-title {
    color: #333;
    font-size: 40px;
    font-weight: 600;
}

.community-description {
    padding-top: 15px;
    color: #333;
    font-size: 16px;
    font-weight: 500;
}

.go-back {
    padding-top: 40px;
    color: #333;
    font-size: 40px;
    font-weight: 600;
}

.go-back-description {
    padding-top: 15px;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 70px;
}

.btn4 {
    width: 240px;
    height: 64px;
    border: 1px solid #333;
    color: #333;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    background: #F3F3F6;
}

.community-info hr {
    width: 645px;
    margin-left: 265px;
}

.box4 {
    width: 60px;
    height: 18px;
    background: #333;
    margin-left: 850px;
    margin-top: -2px;
}

.container5 {
    background-color: #FFF;
    margin-left: 165px;
    margin-right: 165px;
    margin-top: 110px;
}


.resource {
    display: flex;
    align-items: center;
    gap: 128px;
}

.resource-img {
    display: flex;
}

.img-01 {
    padding-left: 120px;
    padding-top: 100px;
}

.img-02 {
    padding-left: 17.5px;
    padding-top: 212px;
    margin-bottom: 95px;
}

.resource-title {
    padding-top: 93px;
    color: #1D9E49;
    font-size: 40px;
    font-weight: 600;

}

.resource-description {
    padding-top: 30px;
    color: #333;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 50px;
    padding-right: 65px;
}

.profile-review {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile {
    display: flex;
    align-items: center;
    gap: 14px;
}

.arrow {
    padding-left: 20px;
    padding-right: 63px;
}

.arrow-img1 {
    margin-right: 20px;
}


/* footer part start */


.footer {
    margin-top: 98px;
    background: #D2D4CB;
}

.our-motor {
    padding-top: 92px;
    text-align: center;
    color: #000;
    font-size: 40px;
    font-weight: 500;
}

.footer-title {
    color: #1D9E49;
    text-align: center;
    font-size: 66px;
    font-weight: 600;
}

.footer-description {
    color: #000;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    padding-top: 12px;
}

.footer hr {
    margin-top: 51px;
    width: 1590px;
    height: 1px;
    background: #333;
    margin-left: 165px;
}

.box5 {
    width: 60px;
    height: 17px;
    background: #333;
    margin-left: 1695px;
    margin-top: -2px;
}

.footer-details {
    padding-top: 74px;
    padding-left: 165px;
    padding-right: 165px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.footer-type {
    color: #333333;
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 12px;
}

.Reach-us-details {
    color: #333;
    font-size: 18px;
    font-weight: 500;
    line-height: 38px;
    /* 211.111% */
}

.Social-details {
    color: #333;
    font-size: 18px;
    font-weight: 500;
    line-height: 38px;
    /* 211.111% */

}

.Capabilities-details {
    color: #333;
    font-size: 18px;
    font-weight: 500;
    line-height: 38px;
    /* 211.111% */
}

.why-sr-details {
    color: #333;
    font-size: 18px;
    font-weight: 500;
    line-height: 38px;
}

.icon-vector {
    padding-top: 50px;
    padding-left: 165px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.all-rights {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 38px;
    padding-left: 165px;
}

.footer-img3 {
    position: relative;
    margin-bottom: -4px;
    padding-right: 1px;
}

.footer-img4 {
    margin-left: -26px;
    position: relative;
    margin-bottom: -4px;
}

.footer-img {
    background-color: #1D9E49;
    padding-top: 14px;
    padding-left: 6px;
    border-radius: 10px;
}

/* .bars-menu{
    display: none;
} */





/* media query start */

@media screen and (min-width:200px) and (max-width:576px) {
    body {
        overflow-x: hidden;
    }

    header {
        width: 100%;
        height: 100%;
    }

    header hr {
        display: none;
    }

    .banner {
        width: auto;
        background-color: coral;
        flex-direction: column;
        padding: 20px;
    }

    .menu-item {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .menu-item li a::after {
        display: none;
    }

    .menu-item li a::after {
        content: " ";
        position: absolute;
        background-color: #3BD770;
        height: 3px;
        width: 60%;
        left: 50%;
        transform: translateX(-50%);
        bottom: -5px;
    }

    .menu-item li {
        margin-bottom: 10px;
    }

    .banner2 {
        flex-direction: column-reverse;
        padding: 20px;
    }

    .banner-img img {
        width: 100%;
        height: auto;
    }

    .banner-title {
        width: 100%;
        padding-top: 20px;
        font-size: 26px;
        text-align: center;
    }

    .banner-description {
        font-size: 18px;
    }

    .banner-network {
        font-size: 18px;
        padding-bottom: 20px;
    }

    .banner-join-ask {
        padding: 0px 20px;
        font-size: 20px;
        text-align: center;
    }

    .join-details {
        padding: 20px;
        justify-content: center;
        grid-row-gap: 10px;
        grid-column-gap: 20px;
    }

    .ratio-item p {
        font-size: 18px;
    }

    .rewards-info {
        grid-column-gap: 15px;
        padding-top: 20px;
        justify-content: center;
    }

    .refer-title {
        font-size: 18px;
    }

    .join {
        height: 180px;
    }

    .button {
        height: 60px;
        width: 180px;
        margin-left: 90px;
    }

    .join span {
        font-size: 20px;
        padding-left: 110px;
        padding-top: 45px;
    }

    .banner-platform {
        padding: 20px;
        gap: 15px;
        margin-top: -75px;
        height: 90px;
    }

    .platform-description {
        font-size: 12px;
    }

    .links-list img {
        width: 100%;
    }

    /* navbar and banner part end */
    main {
        width: 100%;
    }

    .box6 {
        display: none;
    }

    .container {
        width: 100%;
        padding: 0px;
    }

    .container-title,
    .as-seen-on-title {
        padding-top: 20px;
        text-align: center;
        font-size: 26px;
        margin-bottom: 20px;
    }

    .calculate-Potential {
        grid-template-columns: 100%;
        grid-row-gap: 20px;
    }

    .calculate-Potential-list,
    .Best-Case-Scenario,
    .Best-Case-Scenario {
        padding-left: 20px;
        padding-right: 20px;
        height: 100%;
    }

    .btn3 {
        margin-left: 130px;
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .container hr {
        width: 85%;
    }

    .item-values,
    .item-values1 {
        margin-top: 20px;
        width: 113%;
    }

    .best-percent {
        font-size: 30px;
    }

    .value {
        font-size: 30px;
    }

    /* container part-end */

    .as-seen-on {
        margin-top: 20px;
        width: 100%;
        height: 100%;
    }

    .as-on-img-list {
        padding-left: 20px;
        padding-right: 20px;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 30px;
    }

    .as-seen-image1,
    .as-seen-image2,
    .as-seen-image3,
    .as-seen-image4,
    .as-seen-image5,
    .as-seen-image6,
    .as-seen-image7,
    .as-seen-image8 {
        width: 100%;
        height: 100%;
    }

    .logo-circle {
        display: none;
    }

    /* container part-end */

    .who-are-img {
        width: 100%;
    }

    .box7 {
        display: none;
    }

    .who-are-title {
        padding-top: 20px;
        text-align: center;
        font-size: 26px;
    }

    .achievement {
        flex-direction: column;
        gap: 0px;
    }

    .grid-item {
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        padding-top: 20px;
    }

    .achievements-description {
        width: 100%;
    }

    .percentage {
        font-size: 40px;
    }
    .button2{
        width: 260px;
        height: 60px;
        margin-left: 60px;
        margin-top: 15px;
    }
    .join2 span{
        margin-left: 0px;
        font-size: 22px;
    }
}



.hide {
    display: none;
}