* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

header {
    background: url(../BG\ 1.png), radial-gradient(50% 50% at 50% 50%, #383B6C 0%, #202247 100%);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 1920px;

}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 172px;
    padding-top: 41px;
    padding-right: 165px;

}

.banner-img {
    margin-top: 76px;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 50px;
}

.banner-logo {
    display: flex;
    align-items: center;
}

.logo-banner {
    padding: 19px 12px;
    border-radius: 7px;
    background: #3BD770;
    color: #FFF;
}

.logo-title {
    color: #FFF;
    padding-left: 9px;
    font-size: 38px;

}

.menu-item li a {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.navbar-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 14px;
    gap: 45px;
}

/* hr {
    margin-top: 14px;
    stroke-width: 1px;
    stroke: #FFF;
    width: 575px;
} */
.menu-item li a::after {
    content: " ";
    position: absolute;
    background-color: #3BD770;
    height: 3px;
    width: 90px;
    left: 860px;
    top: 83px;
}

.banner2 {
    display: flex;
    justify-content: space-between;
    padding-left: 172px;
    padding-top: 41px;
    padding-right: 165px;
}

.banner-title {
    margin-top: 100px;
    font-size: 46px;
    font-weight: 700;
    color: #FFF;
}

.banner-description {
    padding-top: 20px;
    font-size: 24px;
    font-weight: 700;
    color: #3BD770;
}

.banner-network {
    padding-top: 20px;
    font-size: 24px;
    font-weight: 600;
    color: #FFF;
}

.banner-join-ask {
    padding-top: 30px;
    font-size: 24px;
    font-weight: 600;
    color: #FFF;
}

.join-details {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 147px auto;
    grid-row-gap: 25px;
    grid-column-gap: 76px;

}

.join-item {
    display: flex;
    align-items: center;
    gap: 13px;
}

.ratio-item p {
    font-size: 24px;
    font-weight: 500;
    color: #FFF;

}

.rewards-info {
    padding-top: 74px;
    display: grid;
    grid-template-columns: 90px 140px auto;
    grid-column-gap: 40px;
    padding-bottom: 29px;
}



.rewards-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.refer-title {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
}

.banner-platform {
    display: flex;
    gap: 130px;
    align-items: center;
    background-color: #515151;
    height: 77px;
    padding-left: 208px;
    padding-right: 205px;
    margin-top: -4px;
}

.platform-description {
    font-size: 26px;
    font-weight: 500;
    color: #FFF;
}

.join {
    height: 140px;
    margin: 0 auto;
    position: relative;
    -webkit-perspective: 550px;
}

.button {
    -webkit-transform: rotateY(38deg) rotateZ(1deg);
    position: absolute;
    height: 95px;
    width: 320px;
    background: #3bd770;
    margin-left: 32px;
    margin-top: 29px;
}

.join span {
    position: relative;
    color: #fff;
    font-size: 30px;
    display: block;
    width: 200px;
    text-align: center;
    padding-top: 55px;
    padding-left: 29px;
}






/* main section start */


.calculate-Potential-list {

    height: 586px;
    box-shadow: 0px 8px 24px 2px rgba(47, 43, 35, 0.08);
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 8px;
    border: 1px solid var(--nutral-200, #F5F3F0);
    background: var(--BG-Color, #FFFEFC);

}

.calculate-Potential-title {
    text-align: center;
    color: #282563;
    padding-top: 30px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 16px;
}

.input-list {
    color: #7A766C;
    font-size: 16px;
    font-weight: 500;
}

.input-type-item {
    height: 44px;
    width: 100%;
    margin-top: 12px;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid var(--inactive-stroke, #EBE8E4);
    margin-bottom: 10px;
}

.btn3 {
    margin-top: 20px;
    height: 40px;
    padding: 8px 16px;
    border-radius: 4px;
    background: #282563;
    font-size: 16px;
    color: #FFF;
    font-weight: 500;
    margin-left: 320px;
    border: none;
}

.calculate-Potential {
    display: grid;
    grid-template-columns: 501px 501px 501px;
    grid-column-gap: 42.4px;
}

.best-items {
    display: flex;
    gap: 67px;
    align-items: center;
}

.Best-Case-Scenario-title {
    text-align: center;
    color: #282563;
    padding-top: 30px;
    font-size: 20px;
    font-weight: 600;
}

.Best-Case-Scenario-description {
    padding-top: 15px;
    color: #333;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    height: 116.418px;
}

.Best-Case-Scenario {
    height: 586px;
    padding-left: 45.38px;
    padding-right: 42.4px;
    border-radius: 8px;
    background-color: #FFF;
    box-shadow: 0px 8px 24px 2px rgba(47, 43, 35, 0.08);

}


.container {
    width: 1920px;
    padding-top: 103px;
    padding-left: 165px;
    padding-right: 165px;
    background-color: #F3F3F6;
}

.container-title {
    color: #1D9E49;
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 60px;
    text-align: center;
}

.best-percent {
    padding-top: 20px;
    color: #333;
    font-size: 36px;
    font-weight: 600;
}

.best-percent1 {
    color: #333;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 22.14px;
}

hr {
    stroke: #333;
}

.item-values {
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 34px;
    background-color: #1D9E49;
    height: 165px;
    width: 501px;
    margin-left: -45px;
    border-radius: 0px 0px 8px 8px;
}

.item-value {
    padding-left: 50px;
    padding-right: 53px;
    padding-top: 31px;
}

.value {
    color: #FFF;
    font-size: 50px;
    font-weight: 600;

}

.value-type {
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
}

.item-values1 {
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 34px;
    background-color: #282563;
    height: 165px;
    width: 501px;
    margin-left: -45px;
    border-radius: 0px 0px 8px 8px;
}

/* banner section end */





/* AS-seen-on section start */
.as-seen-on {
    width: 1590px;
    height: 500px;
    background-color: #FFF;
}

.as-seen-on-title {
    text-align: center;
    padding-top: 110px;
    color: #1D9E49;
    font-size: 60px;
    font-weight: 600;
    padding-bottom: 45px;
}

.as-on-img-list {
    display: grid;
    grid-template-columns: 135px 159px 159px 73px 107px 151px 155px 119px;
    justify-content: center;
    grid-column-gap: 60px;
    align-items: center;
}

.as-seen-image1 {
    width: 135px;
    height: 48px;

}

.as-seen-image2 {
    width: 159px;
    width: 33px;
}

.as-seen-image3 {
    width: 159px;
    height: 43px;
}

.as-seen-image4 {
    width: 73px;
    height: 49px;
}

.as-seen-image5 {
    width: 107px;
    height: 49px;
}

.as-seen-image6 {
    height: 151px;
    width: 83px;
}

.as-seen-image7 {
    width: 155px;
    height: 11px;
}

.as-seen-image8 {
    width: 119px;
    height: 49px;
}

.logo-circle {
    padding-left: 1520px;
    padding-top: 55px;
}

.who-are-title {
    color: #1D9E49;
    font-size: 60px;
    font-weight: 600;
    padding-bottom: 19px;
}

.who-are-description {
    color: #000;
    font-size: 18px;
    font-weight: 400;
}

.who-are-img {
    width: 1590px;
}

hr {
    border: 1px solid #333;
}

.grid-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 94px;
    grid-row-gap: 40px;
    padding-top: 133px;
}

.achievement {
    display: flex;
    gap: 93px;
    align-items: center;
}

.Achievements-title {
    padding-top: 110px;
    color: #1D9E49;
    font-size: 60px;
    font-weight: 600;
    padding-bottom: 45px;
}

.join2 {
    height: 140px;
    margin: 0 auto;
    position: relative;
    perspective: 550px;
}

.button2 {
    transform: rotateY(38deg) rotateZ(1deg);
    position: absolute;
    height: 95px;
    width: 320px;
    background: #282563;
}

.join2 span {
    position: relative;
    color: #fff;
    display: block;
    text-align: center;
    padding-top: 30px;
    color: #FFF;
    font-size: 30px;
    font-weight: 600;
    margin-left: -90px;
}

.achievements-description {
    color: #000;
    font-size: 18px;
    font-weight: 500;
    width: 264px;
}

.percentage {
    padding-top: 15px;
    color: #000;
    font-size: 80px;
    font-weight: 700;
}

.service-list {
    display: flex;
    gap: 174px;
    align-items: center;
    background-color: #FFF;

}

.container2 {
    width: 1920px;
    padding-top: 70px;
    background-color: #F3F3F6;
}

.our-details {
    padding-left: 165PX;
    padding-top: 90px;
    padding-bottom: 23px;
    color: #333;
    font-size: 60px;
    font-weight: 600;
}

.join3 {
    height: 76px;
    margin: 0 auto;
    position: relative;
    -webkit-perspective: 550px;
    padding-left: 165px;
}

.button3 {
    -webkit-transform: rotateY(25deg) rotateZ(1deg);
    position: absolute;
    height: 70px;
    width: 220px;
    background: #282563;
}

.join3 span {
    position: relative;
    display: block;
    padding-left: 45px;
    padding-top: 15px;
    color: #FFF;
    font-size: 30px;
    font-weight: 600;
}

.service-details {
    padding-left: 165px;
    padding-top: 36px;
    color: #000;
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 54px;
    width: 400px;
}

.service-it hr {
    margin-left: 165px;
    width: 375px;
    height: 1px;
    color: #333333;
}

.box {
    margin-left: 165px;
    width: 61px;
    height: 17px;
    background-color: #333333;
}




.Consulting {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.careers-info {
    padding-top: 59px;
    padding-bottom: 90px;
}
.careers-info hr{
    width: 1050px;
    height: 1px;
    color: #333333;

}

.Consulting-title {
    padding-top: 40px;
    color: #333;
    font-size: 30px;
    font-weight: 600;
}

.Consulting-description {
    padding-top: 10px;
    color: #333;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 40px;
}